.column {
    float: left;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
.card {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}
.completed {
    text-decoration: line-through;
}
.title{
    text-align: center;
    display: flex;
}
.column{
    text-align: center;
}
.card{
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(#9BC1AC, #cddbd0 0) padding-box,
    linear-gradient(to right, rgb(0, 0, 0), rgb(255, 201, 83)) border-box;
    transition: 0.2s linear;
}
.card:hover{
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(rgba(61, 255, 23, 0), #eadabe 0) padding-box,
    linear-gradient(to right, rgb(0, 0, 0), rgb(255, 108, 0)) border-box;

}